<form [formGroup]="formCadastro" (ngSubmit)="handleCadastrarUsuario()">
    <cmail-form-field [campo]="formCadastro.get('nome')">
        <input 
            cmailInputField 
            name="nome"
            formControlName="nome"
            placeholder="Nome">
    </cmail-form-field>    

    <cmail-form-field [campo]="formCadastro.get('username')">
        <input 
            cmailInputField 
            name="username"
            formControlName="username"
            placeholder="Usuário">
    </cmail-form-field>

    <cmail-form-field [campo]="formCadastro.get('senha')">
        <input 
            cmailInputField 
            name="senha"
            formControlName="senha"
            placeholder="Senha">
    </cmail-form-field>    

    <cmail-form-field [campo]="formCadastro.get('avatar')">
        <input 
            cmailInputField 
            name="avatar"
            formControlName="avatar"
            placeholder="Avatar">
    </cmail-form-field>    

    <input type="submit" value="Cadastrar">
</form>