<form [formGroup]="formLogin" (ngSubmit)="handleLoginUsuario()">
    <cmail-form-field [campo]="formLogin.get('login')">
        <input 
            cmailInputField 
            name="login"
            formControlName="login"
            placeholder="Login">         
    </cmail-form-field>    

    <cmail-form-field [campo]="formLogin.get('senha')">
        <input 
            cmailInputField 
            name="senha"
            formControlName="senha"
            placeholder="Senha">
    </cmail-form-field>   
    
    <p>
        <a href="/">Esqueci minha senha?</a>
    </p>

    <input type="submit" value="Login">
</form>